:root {
  --header-backdrop: #F1B000;
  --main-body: #d8bfbf;
  --link-color: #303841;
  --intro-backdrop: #1A50BC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Arial, serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Arial, serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--main-body);
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.5rem;
  padding: 2px;
}

.nav a:hover {
  color: var(--header-backdrop);
  background-color: var(--link-color);
  cursor: pointer;
  padding: 2px;
  border-radius: 0%;
}

@media (max-width:30rem) {
  .nav {
    justify-content: center;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-backdrop);
  margin-right: 2rem;
  box-shadow: rgb(0, 0, 0, 0.25) 5px 5px 5px;
  z-index: 10;
}

.navlist {
  display: flex;
  margin-right: 2rem;
  width: auto;
}

ul {
  width: 35vw;
  list-style: none;
}

.navlist a {
  display: block;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 0 1rem;
}

.bg-image {
  /* Image used */
  background-image: url("FreeCodeCamp-Projects/Images/Webpage Banner.png");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%;
  
  /* Center and scale image correctly */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in middle of page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback Color */
  background-color: rgba(0,0,0, 0.4); /*Black w/ opacity/see-through effect */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.name {
  font-size: 50px;	
}

/* Temporarily removing while testing blurred background image
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--intro-backdrop);
}

.welcome-section h1 {
  font-size: 5rem;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 5px #ccc2c0; 
}

.welcome-section p {
  font-size: 2.5rem;
  margin: -2px;
  color: #ccc2c0;
  text-shadow: 0 0 5px black;
}

.welcome-section .name {
  color: #00d500;
  text-shadow: 1.5px 1.5px 2px black;
} */

.projects-section {
  padding: 15px;
  text-align: center;
  background: var(--main-body);
}

.projects-section-header {
  max-width: 600px;
  margin: 0 auto 5rem auto;
  border-top: 2px solid
}

@media screen and (min-width: 900px) {
  .welcome-section {
    max-width: 100%;
  }
  .project-tile {
    max-width: 500px;
  }
}
