body {
  background-color: #2a364c;
  color: #e1eeff;
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.header {
  text-align: center;
}

h1 {
  font-weight: bold;
  padding: auto 0 0 0;
  margin-bottom: 0;
}

.description {
  font-size: 1rem;
  font-style: italic;
}

.disclaimer {
	font-size: 0.8rem;
	font-style: italic;
}

#survey-form {
  width: 80vw;
  max-width: 600px;
  min-width: 200px;
  margin: 0 auto;
}

input, textarea, select {
  width: 100%;
  color: #2a364c;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #6a8cb1;
}

legend {
  padding: 1rem 0 0 0;
}

input[type="submit"] {
  display: block;
  width: 75%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #2a364c;
  border-color: white;
  color: white;
  min-width: 300px;
}

label {
  display: block;
  margin: 2px;
}